.menu-burger {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: fixed;
    top: 0px;
    /* need to change */
    left: -500px; 
    height: 100%;
    /* border: 1px solid #1b1b1b; */
    z-index: 2;
    transition: left 0.4s ease;
}

.menu-burger__main {
    background-color: white;
    overflow-y: auto;
    height: 100%;
}

/* .menu-burger__header {
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    line-height: 65px;
} */

.menu-burger__main-list {
    padding: 10px 20px 20px;
}

.menu-burger__main-item {
    line-height: 25px;
    list-style: none;
    margin-top: 10px;
}

.menu-burger__main-item:first-child {
    margin-top: 0px;
}

.menu-burger__main-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    color: black;
    display: block;
    border-radius: 8px;
    padding: 0 10px;
}

.menu-burger__main-link:hover {
    background-color: #cb11ab;
    color: white;
}

.menu-burger__main-link i {
    margin-right: 10px;
}


.menu-burger__close-btn {
    display: block;
    top: 0px;
    transition: left 0.4s ease;
    cursor: pointer;
    background: transparent;
    border: none;
    color: white;
    font-size: 1.5em;
}

.menu-burger.j-is-shown {
    left: 0px;
}
