 .filter-panel__all-filters-btn {
    position: relative;
    padding-left: 30px;
    white-space: nowrap;

    background-color: transparent;
    border: none;
    box-shadow: 0 2px 10px rgba(0, 0, 0,.4);
    font-size: 14px;
    line-height: 20px;
    border-radius: 8px;
    cursor: pointer;
    padding: 5px 12px 7px 30px;
}

.filter-panel__all-filters-btn::before {
    content: '';
    position: absolute;
    background-image: url('./filter-icon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    width: 16px;
    height: 16px;
    left: 8px;
    top: 8px;
    display: inline-block;
}