.filters-block {
    margin: 10px 0px;
}


#filter-panel {
    padding-left: 0px;
}


.dropdown-filter {
    margin-right: 12px;
    display: inline-block;
    background-color: transparent;
    border-radius: 8px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, .3);
}

.filter-price-item {
    width: calc(50% - 4px);
    display: inline-block;
}

.filter-price-input-search {
    position: relative;
    width: 100%;
}

.filter-price-input-search input {
    width: 100%;
}

.filter-price_btn {
    border-radius: 5px;
    background-color: rgb(243, 92, 230);
}