<div class="filter-panel">
    <div class="filter-panel__container">
        <div id="filter-panel_cat1" class="filter-block">
            <button class="filter-block__btn dropdown-btn" onclick="openDropdownFilterContent('filter-panel_cat1')">Катеогрия 1</button>
            <div class="filter-block__content">
                <div class="filter">
                    <ul class="filter__list">
                        {% for filter in checkbox_filters %}
                            <li class="filter__item">
                                <input type="checkbox">
                                <span class="checkbox-decor"></span>
                                <span class="checkbox-text">{{ filter }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-btn">
                    <button class="filter-btn__main">Готово</button>
                </div>
            </div>
        </div>
        <div id="filter-panel_cat2" class="filter-block">
            <button class="filter-block__btn dropdown-btn" onclick="openDropdownFilterContent('filter-panel_cat2')">Катеогрия 2</button>
            <div class="filter-block__content">
                <div class="filter">
                    <ul class="filter__list">
                        {% for filter in radio_filters %}
                            <li class="filter__item">
                                <input type="checkbox">
                                <span class="checkbox-decor"></span>
                                <span class="checkbox-text">{{ filter }}</span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="filter-btn">
                    <button class="filter-btn__main">Готово</button>
                </div>
            </div>
        </div>
        <button id="all-filters-btn" class="filter-panel__all-filters-btn" onclick="toggleAllFilters()">Все фильтры</button>
    </div>
</div>