<div class="card">
    <img src="{{ product.image.url }}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title text-center">{{ product.name }}</h5>
        <h5 class="text-center">$2</h5>
        <div class="star text-center">
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star checked"></i>
            <i class="fa fa-star"></i>
        </div>
        <div class="card-button">
            <button type="button">
                Add <i class="fa fa-cart-plus" aria-hidden="true"></i>
            </button>
        </div>
    </div>
    <div class="card-footer">
        <small class="text-muted">Last updated 3 mins ago</small>
    </div>
</div>