<div class="product-card">
    <div class="product-card__img-wrapper">
        <img class="product-card__img" src="{{ product.image.url }}" alt="{{ product.name }}">
    </div>
    <div class="product-card__body">
        <span class="product-card__price">200 ₽</span>
        <span class="product-card__title">{{ product.name }} / 
            <span class="product-card__brand"> {{ product.description }} </span>
        </span>
        <div class="product-card__rating-review">
            <span class="product-card__rating">
                <i class="fa fa-star checked"></i>
                5
            </span>
            <span class="product-card__review">
                <i class="fa fa-comment-o"></i>
                {{ review_count }}
            </span>
        </div>
    </div>
    <div class="product-card__footer">
        <button class="product-card__cart-btn" type="button">
            Добваить в <i class="fa fa-cart-plus"></i>
        </button>
    </div>
</div>