@import "./__item/checkbox-decor.css";
@import "./__item/checkbox-text.css";

.filter__item {
    margin-top: 8px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
}

.filter__item:hover .checkbox-decor {
    border: 1px solid black;
}

.filter__item input {
    position: absolute;
    width: 100%;
    height: 100%;
    appearance: none;
    z-index: 3;
}

.filter__item input:checked + .checkbox-decor {
    background: var(--button__background-color);
    border-color: var(--button__background-color);
}

.filter__item:first-child {
    margin-top: 0;
}