{% extends "shop/base.html" %}
{% load static %}

{% block content %}
    <h5>Breadcrumbs</h5>
    <h1>Category/Sub category  XXXX items</h1>
    <div class="catalog-page">
        {% include 'shop/desktop.blocks/filter-panel.html' %}

        <div class="catalog">
            <div class="catalog__container">
                {% for product in products %}
                    {% include 'shop/catalog/product-card.html' %}
                {% endfor %}
            </div>
        </div>
    </div>

    {% if js_scripts_to_include %}
        {% for script_url in js_scripts_to_include %}
            <script type="module" src="{% static ''|add:script_url|add:'' %}"></script>
        {% endfor %}
    {% endif %}

{% endblock content %}