{% extends "shop/base.html" %}

{% block content %}
<h1>Category/Sub category  XXXX items</h1>

<section class="catalog-page">
    {% include 'shop/catalog/filters-block.html' %}

    <div class="container-fluid">
        <div class="row">
            {% for product in products %}
                <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 py-3">
                    {% include 'shop/catalog/product-card.html' %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock content %}