<div class="filters-sidebar">
    <div class="filters-sidebar__container">
        <!-- Header -->
        <div class="filters-sidebar__header">
            <span class="filters-sidebar__title">Фильтры</span>
            <button class="filters-sidebar__btn-close"></button>
        </div>

        <!-- Body -->
        <div class="filters-sidebar__list">
            <div class="filters-sidebar__item">
                <div class="filters-sidebar__item-header">
                    <h3 class="filters-sidebar__item-title">
                        Категория 
                        <i class="fa fa-caret-down"></i>
                    </h3>
                </div>
                <div class="filter">
                    <ul class="filter__list">
                        <li class="filter__item">
                            <div class="radio-with-text">
                                <span class="radio-with-text__decor"></span>
                                <span class="radio-with-text__text">1 day</span>
                            </div>
                        </li>
                        <li class="filter__item">
                            <div class="radio-with-text">
                                <span class="radio-with-text__decor"></span>
                                <span class="radio-with-text__text">2 days</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <!-- Footer -->
        <div class="filters-sidebar__footer">
            <p class="filters-sidebar__count-goods">
                Нашли ХХХХХ товаров
            </p>
            <div class="filters-sidebar__btn-wrap">
                <button class="filters-sidebar__btn-main">Показать</button>
            </div>
        </div>
    </div>
</div>
